<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>神庭医馆</title>
    <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/LArea.css">
    <link rel="stylesheet" href="../css/common.css">
    <script src="../js/zepto.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/index.js"></script>
    <!-- <script src="../js/LArea.js"></script>
    <script src="../js/LAreaData1.js"></script>
    <script src="../js/LAreaData2.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <div class="header">
        申请神庭公益金
        <span>
            <img src="../images/back_gery.png" alt="">
        </span>
    </div>
    <div class="welfare_home " id="welfare_home1">
        <div :class=[{"dis-no":(showpage==false)}] style="padding-bottom:60px;">
            <h2>个人资料填写</h2>
            <!-- <div class="info_container"> -->
            <div class="flex info_row weui-cells">
                <p class="left_info">姓名：</p>
                <!-- <div class="flex-1">
                    <input type="text" class=" input_row">
                </div> -->
                <p>{{user_info.name}}</p>
            </div>
            <!-- </div> -->
            <!-- <div class="info_container"> -->
            <div class="flex info_row weui-cells">
                <p class="left_info">性别：</p>
                <!-- <div class="flex-1">
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="select1">
                            <option value="0">请选择</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </div>
                </div> -->
                <p>{{user_info.gender}}</p>
            </div>
            <!-- </div> -->
            <!-- <div class="info_container"> -->
            <div class="flex info_row weui-cells">
                <p class="left_info">身份证号码：</p>
                <!-- <div class="flex-1">
                    <input type="text" class=" input_row">
                </div> -->
                <p>{{user_info.idCard}}</p>
            </div>
            <div class="flex info_row weui-cells">
                <p class="left_info">神庭君ID：</p>
                <!-- <div class="flex-1">
                    <input type="text" class=" input_row">
                </div> -->
                <p>{{user_info.inviteNum}}</p>
            </div>
            <!-- </div>  -->
            <!-- <div class="flex info_row">
                    <p class="left_info">家庭人口：</p>
                    <input type="text" class="flex-1 input_row">
                </div>
                <div class="flex info_row">
                    <p class="left_info">婚姻状况：</p>
                    <input type="text" class="flex-1 input_row">
                </div> -->
            <div class="flex info_row weui-cells">
                <p class="left_info">家庭人口：</p>
                <div class="flex-1">
                    <div class="weui-cell__bd">
                        <select class="weui-select family_num" name="select">
                            <option value="0">请选择</option>
                            <option value="2人以内">2人以内</option>
                            <option value="2-4人">2-4人</option>
                            <option value="4-5人">4-5人</option>
                            <option value="5人以上">5人以上</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="flex info_row weui-cells">
                <p class="left_info">婚姻状况：</p>
                <div class="flex-1">
                    <div class="weui-cell__bd">
                        <select class="weui-select marital" name="select1">
                            <option value="0">请选择</option>
                            <option value="已婚">已婚</option>
                            <option value="未婚">未婚</option>
                            <option value="离异">离异</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="flex info_row weui-cells">
                <p class="left_info">现居住地：</p>
                <div class="flex-1 city_messege flex">
                    <!-- <div class="weui-cell__bd">
                        <div class="content-block">
                            <input id="demo2" type="text" readonly placeholder="请选择" />
                            <input id="value2" type="hidden" />
                        </div>
                    </div> -->
                    <div class="city_province">
                        <select class="weui-select" name="select" v-on:change="selectVal">
                            <option value="-1">请选择</option>
                            <option :value="index" v-for="(province,index) in city_info">{{province.dictName}}</option>
                        </select>
                    </div>
                    <div class="city_name">
                        <select class="weui-select " name="select"  v-on:change="selectVal2">
                            <option value="-1">请选择</option>
                            <option :value="index" v-for="(city,index) in city_name">{{city.dictName}}</option>
                        </select>
                    </div>
                    <div class="area_name">
                        <select class="weui-select " name="select">
                            <option value="-1">请选择</option>
                            <option :value="index" v-for="(area,index) in area_name">{{area.dictName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="flex info_row weui-cells">
                <p class="left_info">现工作情况：</p>
                <div class="flex-1">
                    <div class="weui-cell__bd">
                        <select class="weui-select work_status" name="select1">
                            <option value="0">请选择</option>
                            <option value="各级政府部门、企事业单位、党政机关和公众团体的领导者">各级政府部门、企事业单位、党政机关和公众团体的领导者</option>
                            <option value="专业技术人员（教师、医生、工程技术人员、作家等专业人员）">专业技术人员（教师、医生、工程技术人员、作家等专业人员）</option>
                            <option value="职员（从事一般性事务工作的人员）">职员（从事一般性事务工作的人员）</option>
                            <option value="商务人员">商务人员</option>
                            <option value="第三产业服务人员">第三产业服务人员</option>
                            <option value="商务人员">商务人员</option>
                            <option value="产业工人">产业工人</option>
                            <option value="从事农林牧渔业的劳动者">从事农林牧渔业的劳动者</option>
                            <option value="家庭主妇">家庭主妇</option>
                            <option value="学生">学生</option>
                            <option value="私营企业主">私营企业主</option>
                            <option value="失业">失业</option>
                            <option value="离退休人员">离退休人员</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="flex info_row weui-cells">
                <p class="left_info">个人年收入：</p>
                <div class="flex-1">
                    <div class="weui-cell__bd">
                        <select class="weui-select year_bunus" name="select2">
                            <option value="0">请选择</option>
                            <option value="2万以内">2万以内</option>
                            <option value="2-5万">2-5万</option>
                            <option value="5-10万">5-10万</option>
                            <option value="10-20万">10-20万</option>
                            <option value="20万以上">20万以上</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="apply_btn" v-on:click="next_step">
                <a href="javascript:;">下一步</a>
            </div>
            <div id="quit_account" class="weui-skin_android welcome_page" :class=[{"dis-no":(show_modal==false)}]>
                <div class="weui-mask" style="display:block;" :class=[{"dis-no":(show_modal==false)}]></div>
                <div class="weui-actionsheet">
                    <div class="weui-actionsheet__menu" style="text-align: left; overflow-y: scroll;">
                        <div class="text_info" style="text-align: center;">神庭公益资助申请声明</div>
                        <div style="font-size: 12px;">
                            <p>1.申请人必须为神庭君实名认证半年以上用户；</p>
                            <p>2.申请人需要如实填写资料，不得有虚假信息；</p>
                            <p>3.申请账户不得替他人申请；</p>
                            <p>4.申请人需要填写期望得到资助的金额和期限；</p>
                            <p>5.申请人需提交病情陈述，并勾选同意诚信声明；</p>
                            <p>6.申请提交后等待系统审核，审核的结果存在不通过、部分通过和完全通过的可能性；</p>
                            <p>7.获得资助的神庭币在资助期限内平均按月分发到申请账号；</p>
                            <p>8.获得资助的神庭币在资助期限内无权转赠给他人；</p>
                            <p>9.获得资助的神庭币在资助期限到期时未使用的部分将被退回神庭公益；-84179918；</p>
                            <p>10.申请人账户若发生虚假申请或其他损害他人利益情况时，该申请账户可能被冻结；</p>
                            <p>11.神庭公益资助仅限于用户在神庭医馆消费时进行抵扣，不做其他用途；</p>
                            <p>12.神庭公益资助旨在减轻用户在医疗方面的消费负担，对用户不承担疗效方面的承诺及相关责任。</p>
                            <p>13.获赠的神庭币在使用时适用于神庭币使用须知及免责申明（201809版）；</p>
                            <p>14.只要在成都神庭科技公司和神庭医馆（成都高新神庭诊所有限公司）存续期内，神庭君用户均可使用神庭币进行消费抵扣，若发生因各种不可抗拒因素如自然灾害、国家政策因素或公司关闭清算等情况，造成神庭币无法继续使用时，所有账户中的神庭币将被清零且成都神庭科技公司和神庭医馆不承担赔偿或补偿责任；</p>
                            <p>15.用户在使用过程中若有疑问和问题可与公司客服联系，客服电话：028-84179918；</p>
                            <p>16.成都神庭科技公司对本使用须知及免责申明保留适时进行修改和发布的权利；</p>
                            <p>17.神庭币发放和使用的最终解释权归成都神庭科技公司所有。</p>
                        </div>
                        <div class="input_row flex"><label for="weuiAgree" class="weui-agree" style="margin: 0px auto;"><input
                                    id="weuiAgree" type="checkbox" class="weui-agree__checkbox"> <span class="weui-agree__text">
                                    我已阅读并同意以上须知
                                </span></label></div>
                        <div class="flex" style="text-align: center; margin: 10px;" v-on:click="agree_info">
                            <div class="flex-1"><button type="button" class="agree_sure">确认</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 加载效果 -->
        <div class="weui-loadmore" :class=[{"dis-no":(loading==false)}]>
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
    </div>
</body>
</html>