<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭医馆</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/weui.min.css">
        <link rel="stylesheet" href="../css/common.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="header">
            我的神庭币
            <span>
                <img src="../images/back_gery.png" alt="">
            </span>
        </div>
        <div id="my_coin">
            <div class="m_balance" :class=[{"dis-no":(show_page==false)}] id="m_balance">
                <div class="balance_top">
                    <img src="../images/st_coin2.png" alt="">
                    <div class="text_center">
                        <p>2000个</p>
                    </div>
                </div>
                <!-- 神庭币使用详情 -->
                <div class="balance_detail clearfix">
                    <p class="tint cion_detail">神庭币明细</p>
                    <div v-for="balance in my_balance">
                        <div class="each_cou">
                            <div class="flex">
                                <div class="flex-1">
                                    <p>{{balance.consumeType.dictName}}</p>
                                    <p class="tint">{{balance.createtime.substring(0,19)}}</p>
                                </div>
                                <p class="cou_price"  v-if="balance.coin > 0">+{{balance.coin}}</p>
                                <p class="cou_price pay" v-if="balance.coin < 0">{{balance.coin}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix fr cli_page">
                    <div class="fl  order_page" v-on:click="change_page" :class=[{'active':(page==current)}]  v-for="page in page.totalPages">{{page}}</div>
                </div>
                <div class="send_btn quit_account">
                    <button>我愿转赠</button>
                </div>
            </div>
            <!-- 弹窗1 设置交易密码-->
            <div class="weui-skin_android" id="quit_account2" style="opacity: 0; display: none;">
                <div class="weui-mask2"></div>
                <div class="weui-actionsheet">
                    <div class="weui-actionsheet__menu">
                        <div class="text_info">请设置支付密码：<input type="text" placeholder="支付密码"></div>
                        <div class="flex">
                            <div class="flex-1">
                                <button type="button" class="quit_sure">确认</button>
                            </div>
                            <div class="flex-1">
                                <button type="button" class="time_cancel">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 弹窗2 填写转赠数量和交易密码-->
            <div class="weui-skin_android" id="quit_account" style="opacity: 0; display: none;">
                <div class="weui-mask3"></div>
                <div class="weui-actionsheet">
                    <div class="weui-actionsheet__menu">
                        <div class="text_info">
                            <input type="text" placeholder="">
                        </div>
                        <div class="flex">
                            <div class="flex-1">
                                <button type="button" class="quit_sure">确认</button>
                            </div>
                            <div class="flex-1">
                                <button type="button" class="time_cancel">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 弹窗 -->
            <div class="weui-toptips weui-toptips_warn js_tooltips" style="display: none;" id = "regist_info">密码设置成功！</div>
            <!-- 没有数据 -->
            <div class="has_noinfo" :class=[{"dis-no":(has_noinfo==false)}]>
                <img src="../images/bg_nodata.png" alt="">
            </div>
            <!-- 加载效果 -->
            <div class="weui-loadmore" :class=[{"dis-no":(loading==false)}]>
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
        </div>
        
    </body>
</html>
