<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭馆藏</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/weui.min.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="header">
            购物车
            <span>
                <img src="../images/back_gery.png" alt="">
            </span>
        </div>
        <div class="cart" id="cart" style="padding-top:40px;">
            <div :class=[{"dis-no":(showpage==false)}]>
                <!-- 医馆信息及跳转 -->
                <div class="good_describe">
                    <div class="weui-cell weui-cell_access my_store clearfix">
                        <div class="weui-cell__bd clearfix">
                            <div class="store_small_pic fl">
                                <img src="../images/getheadimg.png" alt="">
                            </div>
                            <p class="fl">神庭医馆</p>
                        </div>
                        <div class="fr edit">编辑</div>
                    </div>
                </div>
                <!-- 商品展示 -->
                <div class="cart_container" style="padding-bottom:50px;">
                    <div class="each_row flex" v-for="(user_info,index) in user_info">
                        <div class="left_radio">
                            <label class="" :for="user_info.id">
                                <input type="checkbox" class="good_check"  :id="user_info.id">
                                <i class="icon-checked iconfont"></i>
                            </label>
                        </div>
                        <div class="weui-cell__bd flex-1">
                            <div class="thumb flex">
                                <img :src="user_info.product.coverImg" alt="">
                                <div class="flex-1">
                                    <p class="good_name">{{user_info.product.templateProduct.name}}</p>
                                    <div class="clearfix">
                                        <p class="good_price fl">¥<span>{{user_info.product.price}}</span></p>
                                        <div class="fr">
                                            <div class="clearfix num_change">
                                                <div class="ope_1 iconfont fl icon-jian" :id="user_info.product.id"></div>
                                                <div class="ope_num fl" :id="user_info.id">{{user_info.number}}</div>
                                                <div class="ope_2 iconfont fl icon-jia" :id="user_info.product.id"></div>
                                                <input type="hidden" :value="user_info.number*user_info.product.price">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 加载效果 -->
                    <div class="weui-loadmore no_all_good">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">正在加载</span>
                    </div>
                    <!-- 无商品 -->
                    <p class="tint no_good dis-no" style="color: #939399;height: 40px;line-height: 40px;text-align: center;">没有更多商品啦~</p>
                </div>
                <!-- 底部操作 -->
                <div class="compute_btn flex">
                    <div class="flex-1 clearfix">
                        <div class="fl">
                            <div class="weui-cells weui-cells_checkbox">
                                <label class="weui-cell weui-check__label" for="sa">
                                    <div class="weui-cell__hd">
                                        <input type="checkbox" class="weui-check"  id="sa">
                                        <i class="weui-icon-checked"></i>
                                    </div>
                                    <div class="weui-cell__bd">
                                        <p>全选</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="fr tint">
                            <p>
                                合计：<span  style="color: #ff473c;">¥<i class="price_total" style="font-size: 18px;font-style:normal;">0.00</i></span>
                            </p>
                            <p>不含运费</p>
                        </div>
                    </div>
                    <div class="btn" @click="Settlement">结算</div>
                    <div class="delete_btn dis-no" @click="delete_order">删除</div>
                </div>
            </div>
            <!-- 加载效果 -->
            <div class="weui-loadmore" :class=[{"dis-no":(loading==false)}]>
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
            <!-- 没有数据 -->
            <div class="has_noinfo" :class=[{"dis-no":(has_noinfo==false)}]>
                <img src="../images/bg_nodata.png" alt="">
            </div>
               <!-- 底部 -->
               <div class="bottom flex bottom_contain" v-if="has_noinfo==true">
                    <div class="flex-1">
                        <a href="./good-index.html">
                            <img src="../images/index_1.png" alt="">
                            <p>神庭馆藏</p>
                        </a>                          
                    </div>
                    <div class="flex-1">
                        <img src="../images/car_2.png" alt="">
                        <p>购物车</p>  
                    </div>
                    <div class="flex-1">
                        <a href="./person.html">
                            <img src="../images/person_1.png" alt="">
                            <p>个人中心</p> 
                        </a>
                    </div>
                </div>
        </div>
    </body>
</html>
