<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭医馆</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/weui.min.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="header">
            医生列表
            <!-- <span>
                <img src="../images/back_gery.png" alt="">
            </span> -->
        </div>
        <div id="doctor_list">
            <div class="doctor_list" :class=[{"dis-no":(show_page==false)}]  v-for="doctor in doctors">
                <!-- 每个医生为一个块 -->
                <div class="doctor_pic">
                    <div class="flex">
                        <a v-on:click="setname(doctor)">
                            <img  v-if="doctor.icon ==null"  src="../images/avator_default.png"  alt="" >
                            <img  v-else-if="doctor.icon ==''" src="../images/avator_default.png"  alt=""  >
                            <img  v-else-if="doctor.icon !==null && doctor.icon !=='' " v-bind:src="doctor.icon"   alt="" >
                            <div class="flex-1 doctor_detail">
                                <a v-on:click="setname(doctor)">
                                    <p class="doname"  >{{doctor.name}}</p>
                                    <p >{{doctor.major}}</p>
                                    <p>诊费：{{doctor.fee}}元/次</p>
                                    <p>坐诊时间：
                                        <span v-if="doctor.id='10'" style="font-size: 12px;color: #F17355;margin-left: 3px;">预约制</span>
                                        <span v-else-if="doctor.id !='10'" style="font-size: 12px;color: #F17355;margin-left: 3px;"  v-for="day in week[doctor.id]">{{day.week}}</span>
                                    </p> 
                                </a>
                            </div>
                        </a>
                        <p style="line-height: 125px;">
                            <button class="reserve_doctor" v-on:click="reserve(doctor,week[doctor.id],doctorAppointmentDisableTimeMap)">预约</button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 加载效果 -->
            <div class="weui-loadmore" :class=[{"dis-no":(loading==false)}]>
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
            <!-- 没有数据 -->
            <div class="has_noinfo" :class=[{"dis-no":(has_noinfo==false)}]>
                <img src="../images/bg_nodata.png" alt="">
            </div>
        </div>
    </body>
</html>
