<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭医馆</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/common.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/index.js"></script>
        <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="header">
            医生详情
            <span>
                <img src="../images/back_gery.png" alt="">
            </span>
        </div>
        <div class="doctor_detail" id="doctor_detail">
            <div class="doctor_pic">
                    <div class="flex">
                        <img v-if="doctor_detail.icon ==null"  src="../images/avator_default.png"  alt="" >
                        <img v-else-if="doctor_detail.icon ==''" src="../images/avator_default.png"  alt=""  >
                        <img v-else-if="doctor_detail.icon !==null && doctor_detail.icon !=='' " v-bind:src="doctor_detail.icon"   alt="" >
                        <div class="flex-1">
                            <p class="doname">{{doctor_detail.name}}</p>
                            <p>{{doctor_detail.major}}</p>
                            <p>诊费：{{doctor_detail.fee}}元/次</p>
                            <p>坐诊时间：
                                <!-- <span style="font-size: 12px;color: #F17355;margin-left: 3px;" v-for="day in map">{{day.week}}</span> -->
                                <span v-if="doctor_detail.id='10'" style="font-size: 12px;color: #F17355;margin-left: 3px;">预约制</span>
                                <span v-else-if="doctor_detail.id !='10'" style="font-size: 12px;color: #F17355;margin-left: 3px;"  v-for="day in map">{{day.week}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="description">
                        <span>{{doctor_detail.description}}</span>
                    </div>
                    <div class="skill">
                        <span>{{doctor_detail.skill}}</span>
                    </div>
            </div>
        </div>
    </body>
</html>
