<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭馆藏</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/weui.min.css">
        <link rel="stylesheet" href="../css/swiper.min.css">
        <link rel="stylesheet" href="../css/common.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/swiper.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="good_index" id="good_index">
            <div :class=[{"dis-no":(showpage==false)}]>
                <div class="store_index" id="store_index">
                    <!-- 轮播模块 -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="banner in banner">
                                <a :href="banner.url">
                                    <img :src="banner.imgUrl" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="clearfix">
                        <p v-on:click="modal_page" class="fr" style="color:#f57d64;margin-right:15px;margin-top: 20px;">神庭馆藏系列说明</p>
                    </div>
                    <div class="index_content">
                        <!-- 搜索模块 -->
                        <div class="search_contain flex">
                            <input type="text" placeholder="请搜索商品" class="search_input">
                            <span class="iconfont">&#xe62b;</span>
                        </div>
                        <!-- 商品展示模块-->
                        <div class="goods_container">
                            <!-- 商品分类导航 -->
                            <div class="classify_good clearfix" style="padding:10px;">
                                <div class="fl classify_detail" @click="cla_detail(good_info.dictId)" v-for="good_info in good_info">
                                    <p class="cla_name">{{good_info.dictName}}</p>
                                    <span>点击进入</span>
                                </div>
                            </div>
                            <!-- 全部 -->
                            <div class="all_good" style="padding:10px;">
                                <div>
                                    <h1>全部商品</h1>
                                </div>
                                <div class="clearfix all_good_contain">
                                    <a href="javascript:;" @click="good_detail(all_good.id)" v-for="all_good in all_good">
                                        <div class="fl each_good l_good">
                                            <img :src="all_good.coverImg.shotPath" alt="">
                                            <p class="good_name">{{all_good.name}}</p>
                                            <p class="good_price">
                                                <span>¥</span>
                                                <span>{{all_good.price}}</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <!-- 加载效果 -->
                                <div class="weui-loadmore no_all_good">
                                    <i class="weui-loading"></i>
                                    <span class="weui-loadmore__tips">正在加载</span>
                                </div>
                                <!-- 无商品 -->
                                <p class="tint no_good dis-no">没有更多商品啦~</p>
                            </div>
                            <!-- 底部 -->
                            <div class="bottom flex">
                                <div class="flex-1">
                                    <img src="../images/index_2.png" alt="">
                                    <p>神庭馆藏</p>
                                </div>
                                <div class="flex-1">
                                    <a href="./cart.html">
                                        <img src="../images/car_1.png" alt="">
                                        <p>购物车</p>  
                                    </a>
                                </div>
                                <div class="flex-1">
                                    <a href="./person.html">
                                        <img src="../images/person_1.png" alt="">
                                        <p>个人中心</p> 
                                    </a>                          
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
                <div class="serach_content dis-no">
                    <div class="flex" style="padding:0 10px;">
                        <!-- 搜索模块 -->
                        <div class="search_contain flex flex-1">
                            <input type="text" placeholder="请搜索商品" class="search_input" id="input_key">
                            <span v-on:click="search_btn" class="iconfont">&#xe62b;</span>
                        </div>
                        <div class="return_ori" style="margin-top:50px;line-height: 40px;margin-left: 15px;color: #1AAD19;">取消</div>
                    </div>
                    <p class="last_search">最近搜索</p>
                    <div class="search_record" style="padding: 10px 15px;" v-if="search_arr.length>0">
                        <span v-for="search in search_arr" @click="quick_search(search)">{{search}}</span>
                    </div>
                    <div v-on:click="delete_record" style="text-align:center;" class="delete_record">
                        <p><span class="iconfont">&#xe632;</span></p>
                        <p>清空搜索记录</p>
                    </div>
                </div>
                <!-- 使用须知 -->
                <div class="weui-skin_android welcome_page" :class=[{"dis-no":(show_modal==false)}] id="quit_account">
                    <div class="weui-mask2"  @click="agree_sure" :class=[{"dis-no":(show_modal==false)}]   style="display:block;"></div>
                    <div class="weui-actionsheet">
                        <div class="weui-actionsheet__menu" style="max-height: 560px;text-align:left;overflow-y: scroll;padding: 20px;">
                            <div class="text_info"  style="text-align:center;font-size: 16px;margin: 10px 0 0;">神庭馆藏系列说明</div>
                            <div style="font-size:12px;">
                                <p>神庭馆藏系列成药产品由李德敏博士结合神庭君软件大数据研发推出，突出中医药简便廉效的特点，以更好的服务于广大用户。有关使用注意事项如下：</p>
                                <p>1.神庭馆藏系列产品均为成熟配方，经长期大量临床实践验证，安全无毒，疗效确切可靠；</p>
                                <p>2.产品仅限于已经完成实名认证的神庭君注册用户购买使用；</p>
                                <p>3.产品通过神庭医馆和神庭君的微信公众号进行订购；</p>
                                <p>4.产品通常需预定，订单成功后由神庭医馆手工配制，制作时间通常为1周以内；</p>
                                <p>5.若系统判定用户所购产品与自身健康情况存在不适合情况，或医馆原材料缺货，或其他异常情况，则会提示订单无效，用户所付款项将被退回；</p>
                                <p>6.神庭馆藏系列产品标识组方、适应症、规格用法，储存条件、使用注意和禁忌事项；</p>
                                <p>7.神庭馆藏系列均为定制，用户在订购前请认真查看适应症和说明，一旦下单成功，则不再退款；</p>
                                <p>8.用户收到商品后需认真查看外包装，若有破损请拒收并及时与医馆客服联系；</p>
                                <p>9.产品一经售出不得退货，敬请知悉；</p>
                                <p>10.欢迎用户积极填写用药反馈及建议，以便于更好的改进；</p>
                                <p>11.免责申明：产品所述适应症均为基于长期大量临床实践而研发，供用户参考，其有效性适用于大量广泛人群，但不排除个体情况而存在疗效差异，故请用户慎重下单敬请知悉，有不明处请遵医嘱并咨询医馆客服。</p>
                            </div>
                            <div class="flex" style="text-align:center;margin: 10px;">
                                <div class="flex-1">
                                    <button type="button" class="agree_sure" v-on:click="agree_sure">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 加载效果 -->
            <div class="weui-loadmore" :class=[{"dis-no":(loading==false)}]>
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
        </div>
    </body>
</html>
