<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭医馆</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/weui.min.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="header">
            确认订单
            <span>
                <img src="../images/back_gery.png" alt="">
            </span>
        </div>
        <div class="order_info" id="good_sure" style="padding-top:40px;">
            <div>
                <div class="my_order_info">
                    <div>
                        <div class="info_addr" style="position: relative;">
                            <p class="im_info">收货方式</p>
                            <div class="flex" style="border-top:1px solid #e5e5e5;">
                                <div class="addr_contain flex-1" style="padding: 10px 15px;" v-if="index==selected" v-for="(user_info,index) in user_info"  :class=[{"dis-no":(showpage==false)}] >
                                    <p @click="choose_send"><span class="iconfont icon-truck"></span> 快递配送(快递到付)</p>
                                    <div class="addr_info" :class=[{"dis-no":(transWay=='trans_way_self')}]>
                                        <div class="flex tint" style="margin-bottom: 6px;padding: 0 15px;color:#09bb07;" @click="choose_addr">
                                            <p class="flex-1">{{user_info.name}}</p>
                                            <p>{{user_info.phone}}</p>
                                        </div>
                                        <div class="flex" style="padding:0 15px;color:#09bb07;" @click="choose_addr">
                                            <p class="iconfont icon-dingwei"></p>
                                            <p class="tint addr_detail" style="color:#09bb07;">{{user_info.locationSeqcn}}-{{user_info.address}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="left_radio" @click="choose_send">
                                    <label class="" :for="user_info.id">
                                        <input :checked="transWay=='trans_way_express'" type="checkbox" class="good_check"  :id="user_info.id">
                                        <i class="icon-checked iconfont"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="flex" style="border-top:1px solid #e5e5e5;">
                                <div class="addr_contain flex-1" style="padding:10px 15px;">
                                    <p @click="choose_self"><span class="iconfont icon-dianpu"></span> 到店自提</p>
                                    <p class="store_info" :class=[{"dis-no":(transWay=='trans_way_express')}] style="color:#09bb07;padding: 10px 15px;">医馆地址：成都市高新区世纪城路198号时尚天堂街206-1-15</p>
                                </div>
                                <div class="left_radio" @click="choose_self">
                                    <label class="" :for="user_info.id">
                                        <input :checked="transWay=='trans_way_self'" type="checkbox" class="good_check"  :id="user_info.id">
                                        <i class="icon-checked iconfont"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- 没有地址 添加 -->
                        <div class="hasno_addr" :class=[{"dis-no":(has_noinfo==false)}] @click="add_addr">
                            <span class="iconfont icon-jia"></span>
                            <span>添加地址</span> 
                        </div>
                        <!-- 加载效果 -->
                        <div class="weui-loadmore show_address" :class=[{"dis-no":(loading==false)}]>
                            <i class="weui-loading"></i>
                            <span class="weui-loadmore__tips">正在加载</span>
                        </div>
                    </div>
                    <div class="medecine_detail">
                        <p class="im_info">订单</p>
                    </div>
                    <!-- 商品展示模块-->
                    <div class="goods_container other_info">
                        <!-- 从购物车跳转而来 -->
                        <div class="flex good_contain" v-for="good_info in good_info" @click="good_detail(good_info.product.templateProduct.id)"  v-if="good_info.product!==undefined">
                            <img class="" :src="good_info.product.coverImg" alt="" style="width:100px;height:100px;">
                            <div class="flex-1" style="background-color: #fff;padding-left:10px;padding-top: 50px;">
                                <p class="good_info">{{good_info.product.templateProduct.name}}</p>
                                <div class="flex next_info">
                                    <p class="good_price flex-1" style="text-align:left;">
                                        <span>¥</span>
                                        <span>{{good_info.joinPrice}}</span>
                                    </p>
                                    <p>x {{good_info.number}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- 从待支付跳转而来 -->
                        <div class="flex good_contain" v-for="new_info in new_info" v-else>
                            <img class="" :src="new_info.productSnapshot.coverImg" alt="" style="width:100px;height:100px;">
                            <div class="flex-1" style="background-color: #fff;padding-left:10px;padding-top: 50px;">
                                <p class="good_info">{{new_info.templateProductSnapshot.name}}</p>
                                <div class="flex next_info">
                                    <p class="good_price flex-1" style="text-align:left;">
                                        <span>¥</span>
                                        <span>{{new_info.productSnapshot.price.toFixed(2)}}</span>
                                    </p>
                                    <p>x {{new_info.number}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="weui-cell weui-cell_switch">
                            <div class="weui-cell__bd">可用神庭币：<span style="color: rgb(255, 71, 60);">{{total_coin}}个</span></div>
                            <div class="weui-cell__ft">
                                <label for="switchCP" class="weui-switch-cp">
                                    <!-- 神庭币小于等于0不可点击 -->
                                    <input id="switchCP" class="weui-switch-cp__input" :disabled="total_coin<0" type="checkbox" @change="is_coin">
                                    <div class="weui-switch-cp__box"></div>
                                </label>
                            </div>
                        </div>
                        <div class="remark flex" style="margin-bottom:50px;border-bottom: 1px solid #e5e5e5;">
                            <span>备注</span>
                            <input class="flex-1" id="remark" type="text" style="color:#939399;" placeholder="单行输入">
                        </div>
                        <div id="toast" style="opacity: 0; display: none;">
                            <div class="weui-mask_transparent"></div>
                            <div class="weui-toast">
                                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                                <p class="weui-toast__content">支付成功！</p>
                            </div>
                        </div>
                        <!-- 弹窗1 设置交易密码-->
                        <div class="weui-skin_android" id="quit_account" style="opacity: 0; display: none;">
                            <div class="weui-mask"></div>
                            <div class="weui-actionsheet">
                                <div class="weui-actionsheet__menu">
                                    <div class="text_info">请设置支付密码：<input type="number" maxlength="6" placeholder="6位数字" oninput="if(value.length>6)value=value.slice(0,6)"></div>
                                    <p class="input_error dis-no" style="text-align:left;color:#fd5749;font-size: 12px;padding-left: 40px;padding-bottom: 5px;"></p>                        
                                    <div class="flex" style="padding-top:15px;">
                                        <div class="flex-1">
                                            <button type="button" class="quit_sure">确认</button>
                                        </div>
                                        <div class="flex-1">
                                            <button type="button" class="time_cancel">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 输入交易密码-->
                        <div class="weui-skin_android" id="quit_account2" style="opacity: 0; display: none;">
                            <div class="weui-mask2"></div>
                            <div class="weui-actionsheet">
                                <div class="weui-actionsheet__menu gift_menu">
                                    <div class="text_info">支付密码：
                                        <input class="user_pass" type="password" maxlength="6" placeholder="6位数字" oninput="if(value.length>6)value=value.slice(0,6)" >
                                    </div>
                                    <div class="text_info flex" style="margin-bottom: 10px;margin-top: 0px;">
                                        <span class="flex-1" style="cursor:pointer;color: #F17355;font-size: 12px;" v-on:click="forget_password">忘记密码？</span>
                                    </div>
                                    <div class="flex">
                                        <div class="flex-1">
                                            <button type="button" class="quit_sure">确认</button>
                                        </div>
                                        <div class="flex-1">
                                            <button type="button" class="time_cancel">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!-- 设置新的支付密码/忘记密码-->
                        <div class="weui-skin_android look_for_pass" id="quit_account3" style="opacity: 0;display:none;">
                            <div class="weui-mask3"></div>
                            <div class="weui-actionsheet">
                                <div class="weui-actionsheet__menu gift_menu">
                                    <div class="info_te" style="display:inline-block;height:30px;line-height:30px;margin-bottom: 10px;" >
                                        <div class="bar_option flex">
                                            <div class="flex-1 can_use re_phone">手机号找回</div>
                                            <div class="flex-1 history  re_email">邮箱找回</div>
                                        </div>
                                        <div class="input_row flex">
                                            <img src="../images/login_phone.png" alt="">
                                            <div class="flex-1">
                                                <div class="phone_input re_input"></div>
                                                <div class="email_input re_input"></div>
                                            </div>
                                        </div>
                                        <div class="input_row flex">
                                            <img src="../images/iv_code.png" alt="">
                                            <div class="flex-1">
                                                <input class="password pass_code" type="text" placeholder="验证码">
                                                <button class="get_code_btn hasinput" type="button">获取验证码</button>
                                                <span class="get_code dis-no"><span class="remain_time">60</span>s后重新获取</span>
                                            </div>
                                        </div>
                                        <div class="input_row flex">
                                            <img src="../images/enroll_key.png" alt="">
                                            <div class="flex-1"  style="margin-left: -18px;">
                                                <input class="pass_name once_pass" type="password" placeholder="请输入密码（6位数字）" oninput="if(value.length>6)value=value.slice(0,6)">
                                            </div>
                                        </div>
                                        <p class="error_info" style="height: 24px;line-height: 24px;text-align: left;padding-left: 30px;"></p>
                                    </div>
                                    <div class="flex btn_contain">
                                        <div class="flex-1">
                                            <button type="button" class="quit_sure">确认</button>
                                        </div>
                                        <div class="flex-1">
                                            <button type="button" class="time_cancel">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix pay_btn">
                            <div class="total_price fl">共计<span>¥{{total_price}}</span></div>
                            <button class="pay_sure fl" v-on:click="pay_sure">确认支付</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </body>
</html>
