<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭医馆</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/weui.min.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="header">
            确认订单
            <span>
                <img src="../images/back_gery.png" alt="">
            </span>
        </div>
        <div class="order_info" id="good_sure" style="padding-top:40px;">
            <div>
                <div class="my_order_info">
                    <div>
                        <div class="info_addr" style="position: relative;">
                            <p class="im_info">收货方式</p>
                            <div class="flex" style="border-top:1px solid #e5e5e5;">
                                <div class="addr_contain flex-1" style="padding: 10px 15px;" v-if="index==selected" v-for="(user_info,index) in user_info"  :class=[{"dis-no":(showpage==false)}] >
                                    <p @click="choose_send"><span class="iconfont icon-truck"></span> 快递配送(快递到付)</p>
                                    <div class="addr_info" :class=[{"dis-no":(transWay=='trans_way_self')}]>
                                        <div class="flex tint" style="margin-bottom: 6px;padding: 0 15px;color:#09bb07;" @click="choose_addr">
                                            <p class="flex-1">{{user_info.name}}</p>
                                            <p>{{user_info.phone}}</p>
                                        </div>
                                        <div class="flex" style="padding:0 15px;color:#09bb07;" @click="choose_addr">
                                            <p class="iconfont icon-dingwei"></p>
                                            <p class="tint addr_detail" style="color:#09bb07;">{{user_info.locationSeqcn}}-{{user_info.address}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="left_radio" @click="choose_send">
                                    <label class="" :for="user_info.id">
                                        <input :checked="transWay=='trans_way_express'" type="checkbox" class="good_check"  :id="user_info.id">
                                        <i class="icon-checked iconfont"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="flex" style="border-top:1px solid #e5e5e5;">
                                <div class="addr_contain flex-1" style="padding:10px 15px;">
                                    <p @click="choose_self"><span class="iconfont icon-dianpu"></span> 到店自提</p>
                                    <p class="store_info" :class=[{"dis-no":(transWay=='trans_way_express')}] style="color:#09bb07;padding: 10px 15px;">医馆地址：成都市高新区世纪城路198号时尚天堂街206-1-15</p>
                                </div>
                                <div class="left_radio" @click="choose_self">
                                    <label class="" :for="user_info.id">
                                        <input :checked="transWay=='trans_way_self'" type="checkbox" class="good_check"  :id="user_info.id">
                                        <i class="icon-checked iconfont"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- 没有地址 添加 -->
                        <div class="hasno_addr" :class=[{"dis-no":(has_noinfo==false)}] @click="add_addr">
                            <span class="iconfont icon-jia"></span>
                            <span>添加地址</span> 
                        </div>
                        <!-- 加载效果 -->
                        <div class="weui-loadmore show_address" :class=[{"dis-no":(loading==false)}]>
                            <i class="weui-loading"></i>
                            <span class="weui-loadmore__tips">正在加载</span>
                        </div>
                    </div>
                    <div class="medecine_detail">
                        <p class="im_info">订单</p>
                    </div>
                    <!-- 商品展示模块-->
                    <div class="goods_container other_info">
                    <div class="flex good_contain" v-for="good_info in good_info" @click="good_detail(good_info.product.templateProduct.id)">
                        <img class="" :src="good_info.product.templateProduct.coverImg.shotPath" alt="" style="width:100px;height:100px;">
                        <div class="flex-1" style="background-color: #fff;padding-left:10px;padding-top: 50px;">
                            <p class="good_info">{{good_info.product.templateProduct.name}}</p>
                            <div class="flex next_info">
                                <p class="good_price flex-1" style="text-align:left;">
                                    <span>¥</span>
                                    <span>{{good_info.joinPrice}}</span>
                                </p>
                                <p>x {{good_info.number}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">可用神庭币：<span style="color: rgb(255, 71, 60);">{{total_coin}}个</span></div>
                        <div class="weui-cell__ft">
                            <label for="switchCP" class="weui-switch-cp">
                                <!-- 神庭币小于等于0不可点击 -->
                                <input id="switchCP" class="weui-switch-cp__input" :disabled="total_coin<0" type="checkbox" @change="use_coin()">
                                <div class="weui-switch-cp__box"></div>
                            </label>
                        </div>
                    </div>
                    <div class="remark flex" style="margin-bottom:50px;border-bottom: 1px solid #e5e5e5;">
                        <span>备注</span>
                        <input class="flex-1" id="remark" type="text" style="color:#939399;" placeholder="单行输入">
                    </div>
                    <div id="toast" style="opacity: 0; display: none;">
                        <div class="weui-mask_transparent"></div>
                        <div class="weui-toast">
                            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                            <p class="weui-toast__content">支付成功！</p>
                        </div>
                    </div>
                    <div class="clearfix pay_btn">
                        <div class="total_price fl">共计<span>¥{{total_price}}</span></div>
                        <button class="pay_sure fl" v-on:click="pay_sure">确认支付</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
