<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭医馆</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/weui.min.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="header">
            确认订单
            <span>
                <img src="../images/back_gery.png" alt="">
            </span>
        </div>
        <div class="order_info" id="order_sure" style="padding-top:40px;">
            <div>
                <div class="my_order_info">
                    <div>
                        <div class="info_addr" style="position: relative;padding-bottom: 0;border-bottom: 1px solid #e5e5e5;">
                            <p class="im_info" style="margin-bottom: 10px;">收货方式</p>
                            <div class="flex" style="border-top:1px solid #e5e5e5;" v-if="order_info.transWay.dictId=='trans_way_express'">
                                <div class="addr_contain flex-1" style="padding: 10px 15px;">
                                    <p><span class="iconfont icon-truck"></span> 快递配送(快递到付)</p>
                                    <div class="addr_info">
                                        <div class="flex tint" style="margin-bottom: 6px;padding: 0 15px;color:#09bb07;">
                                            <p class="flex-1">{{order_info.orderLogisticsAddress.name}}</p>
                                            <p>{{order_info.orderLogisticsAddress.phone}}</p>
                                        </div>
                                        <div class="flex" style="padding:0 15px;color:#09bb07;">
                                            <p class="iconfont icon-dingwei"></p>
                                            <p class="tint addr_detail" style="color:#09bb07;">{{order_info.orderLogisticsAddress.location.seqCn}}-{{order_info.orderLogisticsAddress.address}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex" style="border-top:1px solid #e5e5e5;" v-if="order_info.transWay.dictId=='trans_way_self'">
                                <div class="addr_contain flex-1" style="padding:10px 15px;">
                                    <p><span class="iconfont icon-dianpu"></span> 到店自提</p>
                                    <p class="store_info"  style="color:#09bb07;padding: 10px 15px;">医馆地址：成都市高新区世纪城路198号时尚天堂街206-1-15</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="medecine_detail" style="padding:0;margin-bottom:0;">
                        <p class="im_info">订单</p>
                    </div>
                    <!-- 商品展示模块-->
                    <div class="goods_container other_info">
                        <div class="flex good_contain"  v-for="each_info in new_info" v-if="each_info.templateProductSnapshot!==undefined">
                            <img class="" :src="each_info.productSnapshot.coverImg" alt="" style="width:100px;height:100px;">
                            <div class="flex-1" style="background-color: #fff;padding-left:10px;padding-top: 50px;">
                                <p class="good_info">{{each_info.templateProductSnapshot.name}}</p>
                                <div class="flex next_info">
                                    <p class="good_price flex-1" style="text-align:left;">
                                        <span>¥</span>
                                        <span>{{each_info.productSnapshot.price.toFixed(2)}}</span>
                                    </p>
                                    <p>x {{each_info.number}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="remark flex" style="margin-bottom:50px;border-bottom: 1px solid #e5e5e5;">
                            <span>备注</span>
                            <input disabled="false" class="flex-1" id="remark" type="text" style="color:#939399;" :value="order_info.remark">
                        </div>
                        <!-- 弹窗1 设置交易密码-->
                        <div class="weui-skin_android" id="quit_account" style="opacity: 0; display: none;">
                            <div class="weui-mask"></div>
                            <div class="weui-actionsheet">
                                <div class="weui-actionsheet__menu">
                                    <div class="text_info">请设置支付密码：<input type="number" maxlength="6" placeholder="6位数字" oninput="if(value.length>6)value=value.slice(0,6)"></div>
                                    <p class="input_error dis-no" style="text-align:left;color:#fd5749;font-size: 12px;padding-left: 40px;padding-bottom: 5px;"></p>                        
                                    <div class="flex" style="padding-top:15px;">
                                        <div class="flex-1">
                                            <button type="button" class="quit_sure">确认</button>
                                        </div>
                                        <div class="flex-1">
                                            <button type="button" class="time_cancel">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 输入交易密码-->
                        <div class="weui-skin_android" id="quit_account2" style="opacity: 0; display: none;">
                            <div class="weui-mask2"></div>
                            <div class="weui-actionsheet">
                                <div class="weui-actionsheet__menu gift_menu">
                                    <div class="text_info">支付密码：
                                        <input class="user_pass" type="password" maxlength="6" placeholder="6位数字" oninput="if(value.length>6)value=value.slice(0,6)" >
                                    </div>
                                    <div class="text_info flex" style="margin-bottom: 10px;margin-top: 0px;">
                                        <span class="flex-1" style="cursor:pointer;color: #F17355;font-size: 12px;" v-on:click="forget_password">忘记密码？</span>
                                    </div>
                                    <div class="flex">
                                        <div class="flex-1">
                                            <button type="button" class="quit_sure" @click="coin_pay">确认</button>
                                        </div>
                                        <div class="flex-1">
                                            <button type="button" class="time_cancel">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 设置新的支付密码/忘记密码-->
                        <div class="weui-skin_android look_for_pass" id="quit_account3" style="opacity: 0;display:none;">
                            <div class="weui-mask3"></div>
                            <div class="weui-actionsheet">
                                <div class="weui-actionsheet__menu gift_menu">
                                    <div class="info_te" style="display:inline-block;height:30px;line-height:30px;margin-bottom: 10px;" >
                                        <div class="bar_option flex">
                                            <div class="flex-1 can_use re_phone">手机号找回</div>
                                            <div class="flex-1 history  re_email">邮箱找回</div>
                                        </div>
                                        <div class="input_row flex">
                                            <img src="../images/login_phone.png" alt="">
                                            <div class="flex-1">
                                                <div class="phone_input re_input"></div>
                                                <div class="email_input re_input"></div>
                                            </div>
                                        </div>
                                        <div class="input_row flex">
                                            <img src="../images/iv_code.png" alt="">
                                            <div class="flex-1">
                                                <input class="password pass_code" type="text" placeholder="验证码">
                                                <button class="get_code_btn hasinput" type="button">获取验证码</button>
                                                <span class="get_code dis-no"><span class="remain_time">60</span>s后重新获取</span>
                                            </div>
                                        </div>
                                        <div class="input_row flex">
                                            <img src="../images/enroll_key.png" alt="">
                                            <div class="flex-1"  style="margin-left: -18px;">
                                                <input class="pass_name once_pass" type="password" placeholder="请输入密码（6位数字）" oninput="if(value.length>6)value=value.slice(0,6)">
                                            </div>
                                        </div>
                                        <p class="error_info" style="height: 24px;line-height: 24px;text-align: left;padding-left: 30px;"></p>
                                    </div>
                                    <div class="flex btn_contain">
                                        <div class="flex-1">
                                            <button type="button" class="quit_sure">确认</button>
                                        </div>
                                        <div class="flex-1">
                                            <button type="button" class="time_cancel">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="toast" style="opacity: 0; display: none;">
                            <div class="weui-mask_transparent"></div>
                            <div class="weui-toast">
                                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                                <p class="weui-toast__content">支付成功！</p>
                            </div>
                        </div>
                        <div class="clearfix pay_btn">
                            <div class="total_price fl">共计<span>¥{{order_info.payPrice.toFixed(2)}}</span></div>
                            <button class="pay_sure fl" v-on:click="pay_sure">付款</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </body>
</html>
