<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭医馆</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/weui.min.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="header">
            我的订单
            <span>
                <img src="../images/back_gery.png" alt="">
            </span>
        </div>
        <div class="m_order" id="my_order">
            <div class="bar_option flex">
                <div class="flex-1 all_order"  :class=[{"active":(status=='all_order')}] v-on:click="change_status">全部</div>
                <div class="flex-1 ordering" :class=[{"active":(status=='ordering')}] v-on:click="change_status">进行</div>
                <div class="flex-1 ordered" :class=[{"active":(status=='ordered')}] v-on:click="change_status">完成</div>
                <div class="flex-1 notpay" :class=[{"active":(status=='notpay')}] v-on:click="change_status">待支付</div>
            </div>
            <div class="my_order" :class=[{"dis-no":(show_page==false)}]>
                <div class="weui-cells" v-for="order in orders">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><img src="../images/bg_medicinal.png"></div>
                        <div class="weui-cell__bd">
                            <p class="create"><span>{{order.createtime.split(" ")[0]}}</span>处方药材订单</p>
                            <p class="payprice">总价：¥<span>{{order.payPrice.toFixed(2)}}</span></p>
                            <!-- <button v-if="not_pay == true" class="to_pay" v-on:click="to_pay(order)">去支付</button> -->
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="fr" v-if="not_pay == false">
                            <span class="or_status" v-if="order.status == 'CREATED'">未打印</span>
                            <span class="or_status" v-else-if="order.status == 'OPERATE'">正在处理,已打印</span>
                            <span class="or_status" v-else-if="order.status == 'FILLED'">已抓药</span>
                            <span class="or_status" v-else-if="order.status == 'DECOCTED'">已煎药</span>
                            <span class="or_status" v-else-if="order.status == 'SENDED'">已快递</span>
                            <span class="or_status" v-else-if="order.status == 'WAIT_FOR_TAKE'">等待自取</span>
                            <span class="or_status" v-else-if="order.status == 'FINISHED'">完成</span>
                            <span class="or_status" v-else-if="order.status == 'ERROR'">异常订单</span>
                            <span class="updata_time">{{order.updatetime.split(" ")[0]}}</span>
                        </div>
                        <div class="fr" v-if="not_pay == true">
                            <span class="or_status" v-if="order.status == 'CREATED'">待支付</span>
                            <span class="or_status" v-else-if="order.status == 'WAIT_FOR_PAY'">待支付</span>
                            <span class="updata_time">{{order.updatetime.split(" ")[0]}}</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix fr cli_page">
                    <div class="fl  order_page" v-on:click="change_page" :class=[{'active':(page==current)}]  v-for="page in page.totalPage">{{page}}</div>
                </div>
            </div>
            <!-- 没有数据 -->
            <div class="has_noinfo" :class=[{"dis-no":(has_noinfo==false)}]>
                <img src="../images/bg_nodata.png" alt="">
            </div>
            <!-- 加载效果 -->
            <div class="weui-loadmor" :class=[{"dis-no":(loading==false)}]>
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
        </div>
    </body>
</html>
