<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭医馆</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/weui.min.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="header">
            个人中心
            <!-- <span>
                <img src="../images/back_gery.png" alt="">
            </span> -->
        </div>
        <div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        <div class="person dis-no" id="app" style="padding-bottom:51px;">
            <div class="top_person">
                <div class="top_bg">
                    <div>
                        <div class="head">
                            <img src="../images/avator_default.png" alt="">
                        </div>
                        <span style="font-size: 12px;">{{sex}}</span>
                        <span style="font-size: 12px;">{{age}}</span>
                    </div>
                    <p>神庭君ID：{{inviteNumber}}</p>
                    <div class="flex">
                        <div class="flex-1">
                           <p>实名认证</p>
                           <p v-if="realName==0" style="color:#f57d64;">未认证</p>
                           <p v-else-if="realName==1" style="color:#f57d64;">审核中</p>
                           <p v-else-if="realName==2" style="color:#f57d64;">已认证</p>
                           <p v-else-if="realName==3" style="color:#f57d64;">审核未通过</p>
                        </div>
                        <div class="flex-1">
                            <p>会员</p>
                            <p style="color:#f57d64;" v-if="vip==0">普通用户</p>
                            <p style="color:#f57d64;" v-else-if="vip=='vip'">普通会员</p>
                            <p style="color:#f57d64;" v-else-if="vip=='super_vip'">超级会员</p>
                            <p style="color:#f57d64;" v-else-if="vip=='try_vip'">体验会员</p>
                            <p style="color:#f57d64;" v-else-if="vip=='share_vip'">共享会员</p>
                        </div>
                        <div class="flex-1">
                            <p>积分</p>
                            <p style="color:#f57d64;">{{totalCredits}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle_person">
                <div class="order">
                    <a class="weui-cell weui-cell_access my_order" href="order.html">
                        <div class="weui-cell__bd">
                            <p>我的订单</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access my_coupon" href="coupon.html">
                        <div class="weui-cell__bd">
                            <p>我的优惠券</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access my_coupon" href="reserve-list.html">
                        <div class="weui-cell__bd">
                            <p>我的预约</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access my_order" href="balance.html">
                        <div class="weui-cell__bd">
                            <p>我的神庭币</p>
                        </div>
                        <div class="weui-cell__ft">
                            <span>{{person.coin}}</span>
                            <span style="margin-left: 4px;">个</span>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access my_welfare" href="application.html">
                        <div class="weui-cell__bd">
                            <p>神庭公益</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                </div>
                <div class="addr test" id="test">
                    <a class="weui-cell weui-cell_access my_order" href="doctor-list.html">
                        <div class="weui-cell__bd">
                            <p>面诊预约</p>
                        </div>
                        <div class="weui-cell__ft pass_manage"></div>
                    </a>
                    <a class="weui-cell weui-cell_access my_order" href="pay-list.html">
                        <div class="weui-cell__bd">
                            <p>馆藏订单</p>
                        </div>
                        <div class="weui-cell__ft pass_manage"></div>
                    </a>
                    <a class="weui-cell weui-cell_access my_order" href="pass-manage.html">
                        <div class="weui-cell__bd">
                            <p>密码管理</p>
                        </div>
                        <div class="weui-cell__ft pass_manage"></div>
                    </a>
                    <a class="weui-cell weui-cell_access my_order" href="all-address.html">
                        <div class="weui-cell__bd">
                            <p>地址管理</p>
                        </div>
                        <div class="weui-cell__ft pass_manage"></div>
                    </a>
                    <div class="weui-cell weui-cell_access my_addr">
                        <div class="weui-cell__bd">
                            <p>剩余问道次数</p>
                        </div>
                        <div class="weui-cell__ft">{{allVisitTime}}次</div>
                        <div class="weui-cell__ft">
                            <button id="showDatePicker2">神庭问道</button>
                        </div>
                    </div>
                    <!-- <div class="weui-cell weui-cell_access my_phone">
                        <div class="weui-cell__bd">
                            <p>我愿分享</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </div> -->
                    <div class="weui-cell weui-cell_access my_phone quit_account" style="cursor:pointer">
                        <div class="weui-cell__bd">
                            <p>退出账号</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </div>
                    <!-- 底部 -->
                    <div class="bottom flex bottom_contain">
                        <div class="flex-1">
                            <a href="./good-index.html">
                                <img src="../images/index_1.png" alt="">
                                <p>神庭馆藏</p>
                            </a>                          
                        </div>
                        <div class="flex-1">
                            <a href="./cart.html">
                                <img src="../images/car_1.png" alt="">
                                <p>购物车</p>  
                            </a>
                        </div>
                        <div class="flex-1">
                            <img src="../images/person_2.png" alt="">
                            <p>个人中心</p> 
                        </div>
                    </div>
                </div>
                <div class="weui-skin_android" id="androidActionsheet" style="opacity: 0; display: none;">
                    <div class="weui-mask"></div>
                    <div class="weui-actionsheet">
                        <div class="weui-actionsheet__menu">
                            <div class="flex">
                                <div class="">
                                    <img src="../images/app_pic.png" alt="">
                                </div>
                                <div class="flex-1 warm_info">
                                    请扫描二维码下载并登录神庭君问道
                                </div>
                            </div>
                            <button type="button" class="time_sure">确认</button>
                        </div>
                    </div>
                </div>
                <div class="weui-skin_android" id="quit_account" style="opacity: 0; display: none;">
                    <div class="weui-mask2"></div>
                    <div class="weui-actionsheet">
                        <div class="weui-actionsheet__menu">
                            <div class="text_info">确定退出此帐号？</div>
                            <div class="flex">
                                <div class="flex-1">
                                    <button type="button" class="quit_sure">确认</button>
                                </div>
                                <div class="flex-1">
                                    <button type="button" class="time_cancel">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
