<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>神庭医馆</title>
        <link type="image/x-icon" rel="shortcut icon" href="../images/logo.png">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/weui.min.css">
        <script src="../js/zepto.min.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
        <script src="../js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="header m_reserve">
            预约医生
            <span>
                <img src="../images/back_gery.png" alt="">
            </span>
        </div>
        <div id="my_serve">
            <div class="reserve_detail">
                <div class="weui-toptips weui-toptips_warn js_tooltips" style="display: none;">提交错误</div>
                <form id="androidActionsheet">
                    <div class="weui-cell" >
                        <div class="weui-cell__hd"><label class="weui-label">姓名/神庭君ID</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input re_name"  placeholder="请输入" :value= "person.inviteNumber">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select flex" style="color: #686b6d;">
                        <div class="flex-1">性别</div>
                        <div class="weui-cell__bd">
                            <select class="weui-select re_gender" name="select1" v-if="person.gender!==undefined && person.gender.length>0 && person.gender =='女'">
                                    <option value="1">女</option>
                                    <option value="2">男</option>
                            </select>
                            <select class="weui-select re_gender" name="select1" v-else-if="person.gender!==undefined && person.gender.length>0 && person.gender =='男'">
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                            </select>
                            <select class="weui-select re_gender" name="select1" v-else-if="person.gender!==undefined && person.gender.length<=0">
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">联系方式</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input re_tel"  placeholder="请输入" :value= "person.phone">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after DatePicker" id="showDatePicker"  v-on:click="choose">
                        <div class="weui-cell__hd">
                            <label for="" class="weui-label" >日期</label>
                        </div>
                        <div class="weui-cell__bd re_date">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after DatePicker2" id="showDatePicker2" v-on:click="show_modal">
                        <div class="weui-cell__hd">
                            <label for="" class="weui-label" >时间</label>
                        </div>
                        <div class="weui-cell__bd re_time">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after re_persons">
                        <div class="weui-cell__hd">
                            <label for="" class="weui-label">预约医生</label>
                        </div>
                        <div class="weui-cell__hd doc_name">{{doctor_name}}</div>
                    </div>
                    <div class="weui-btn-area">
                        <button type="button" class="weui-btn weui-btn_primary"  id="showTooltips" >确认预约</button>
                    </div>
                    <div class="weui-skin_android dis-no" >
                        <div class="weui-mask" v-on:click="hidden_modal"></div>
                        <div class="weui-actionsheet">
                            <div class="weui-actionsheet__menu">
                                <div class="time_container">
                                    <h2 class="text_center">选择预约时间段</h2>
                                    <div v-for="">
                                        <!-- 遍历上班时间 -->
                                        <div class="text_center morning">
                                            <p class="tint">上午</p>
                                            <div class="clearfix choose_time">
                                                <div class="fl" v-for= "re_time in work_time"  :class=[{"can_reserve":(is_work==true)}] v-if="re_time._time.split(':')[0]<12 && re_time.status== 'active'">{{re_time._time}}</div>
                                            </div>
                                        </div> 
                                        <div class="text_center afternoon">
                                            <p class="tint">下午</p>
                                            <div class="clearfix choose_time">
                                                <div class="fl" v-for= "re_time in work_time"  :class=[{"can_reserve":(is_work==true)}] v-if="re_time._time.split(':')[0]>12  && re_time.status== 'active'">{{re_time._time}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div style="color: #939399;font-size: 13px;text-align: right;padding-right: 10px;">
                                        (注：灰色字体表示该时间段不可预约)
                                    </div> -->
                                </div>
                                <button type="button" class="time_sure"  v-on:click="choose2">确认</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 确认弹窗 -->
            <div class="weui-skin_android" id="quit_account" style="opacity: 0; display: none;">
                <div class="weui-mask2"></div>
                <div class="weui-actionsheet">
                    <div class="weui-actionsheet__menu reser_menu">
                        <div class="text_info" style="margin-bottom: 10px;"><span style="font-size: 14px;">预约将扣除1000积分,按时就诊后会返还账户，确认继续预约？</span></div>
                        <div class="flex" style="text-align: center;">
                            <div class="flex-1" >
                                <button type="button" class="quit_sure" v-on:click="resure">确认</button>
                            </div>
                            <div class="flex-1">
                                <button type="button" class="time_cancel" v-on:click="cancel">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 弹窗 -->
        <div class="weui-toptips weui-toptips_warn js_tooltips fail dis-no"></div>
        <!-- 报错提示 -->
        <div class="js_dialog reserve_" id="Dialog2" style="opacity: 0;display: none;">
            <div class="weui-dialog_test weui_android">
                <div class="weui-dialog__bd">请填写完整信息！</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                </div>
            </div>
        </div>
        <div class="js_dialog reservse_time" id="Dialog3" style="opacity: 0;display: none;">
            <div class="weui-dialog_test weui_android">
                <div class="weui-dialog__bd" style="text-align: center;">预约时间段为三周以内，请重新选择！</div>
                <div style="text-align: center;margin: 10px 0;" >
                    <a href="javascript:;" style="color: #F17355;" class="time-sure3">确定</a>
                </div>
            </div>
        </div>
    </body>
</html>
